<h1>Listing graduations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @graduations.each do |graduation| %>
  <tr>
    <td><%= graduation.name %></td>
    <td><%= link_to 'Show', graduation %></td>
    <td><%= link_to 'Edit', edit_graduation_path(graduation) %></td>
    <td><%= link_to 'Destroy', graduation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Graduation', new_graduation_path %>
